* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}


@import'../scss/base/shimmer';
@import '../scss/base/color';
@import '../scss/base/typescale';
@import '../scss/base/spacing';
@import '../scss/reval-animation.scss';
@import '../scss/footer_modern.scss';
@import '../scss/button-glowing.scss';
@import'../scss/header.scss';
@import'../scss/skills.scss';
@import'../scss/aboutme.scss';


@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');


.stickynote {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 3px;
  width: 350px;

  height: 20rem;



  p.lg {
    color: #2c2c2c;
    font-family: 'Kalam', sans-serif;
    font-weight: 700;

  }


  p.md {
    color: #2c2c2c;
    font-family: 'Kalam', sans-serif;
    font-weight: 400;
    line-height: 180%;
    font-size: 1.2em;

  }
}

.yellowSticky {
  background-color: #ffc000;

}

.redSticky {
  background-color: #F16C7F;
  margin-top: 3rem;
}

.blueSticky {
  background-color: #6CD9FA;
}

.rotateright {
  transform: rotate(3deg);
}

.rotateleft {
  transform: rotate(-3deg);
}

.stickyContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}






html {
  background-color: black;
}

div {
  //padding: 5px;
  //border: 1px solid forestgreen;
}

section {
  padding: 5px;
  //border: 1px solid yellow;
}





.maxwidth-container {
  max-width: 1200px;
  margin: auto;
}



.maxwidth-container-withflex {
  @extend .maxwidth-container;
  display: flex;
  flex-direction: column;
  gap: 5rem;

}


.section-gap{
  margin-bottom: 5rem;
}



/* Pop */
@keyframes pop {
  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.pop {
  display: inline-block;



  &:hover {
    animation-name: pop;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }
}








//_______PROJECTS___________________________________________________


.arr {
  max-width: 1.5rem;
  aspect-ratio: 1/1;
}

.infobox {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
}



//__________________________________________________________



a {
  color: green;
}

//____NEW PROJECT______________________________________________________

.project-sections{

  background-color: #000000;


} 


.grid-container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 40px;
  //padding: 3rem;
  
}

.project {
  aspect-ratio: 1/1;
  grid-column: span 6/span 6;
  

}



.project-margintop {
  margin-top: 6rem;
}

.project-imgbox {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.grow-rotate {

  transition-duration: 0.1s;
  transition-property: transform;


  &:hover {
    transform: scale(1.04) rotate(2deg);
  }
}


@media screen and (max-width: 600px) {


  .grid-container {

    grid-template-columns: repeat(12, minmax(0, 1fr));


  }

  .project {

    grid-column: span 12/span 12;

  }

  .project-margintop {
    margin-top: 0rem;
  }

}





//_______Footer animation___________________________________________________


.wrapper {
  background-color: rgb(0, 0, 0);
  transform-origin: center bottom 0px;
  transition: all 0.2s ease 0s;
   box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  // padding: 50px 50px 100px 50px;
  border-radius: 0rem 0rem 2.5rem 2.5rem;
  //border: 1px solid rgb(0, 0, 0);

}

body.tight .wrapper {
  transform: translateY(-60px) scale(0.85);
  cursor: pointer;
}


@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}



//___GRIDD___________________________________________________________________________


.grid12 {
  display: grid;
  grid-template-columns: repeat(12, minmax(3rem, 1fr));
  gap: 1rem;
  border: 1px solid wheat;
}


.project1 {
  grid-column: span 6;
  height: 30px;
  background-color: #5c5c5c;
}


.project2 {
  grid-column: span 6;
  height: 30px;
  background-color: #5c5c5c;
}


.project3 {
  grid-column: span 6;
  height: 30px;
  background-color: #5c5c5c;
}


.project4 {
  grid-column: span 6;
  height: 30px;
  background-color: #5c5c5c;
}


.tiltedvid {
  width: 10rem;
  display: flex;
  // border: 1px solid red;
  aspect-ratio: 4/3;
  rotate: 3deg;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;

}


.vidinside {
  width: 100%;
  height: auto;
  display: block;
}

.bigbox {
  margin-top: 8rem;
  display: flex;

  flex-direction: row;
  justify-content: space-between;
}

.opentowork-div {
  width: 14.8rem;
  background-color: #093225;
  flex-direction: row;
  display: inline-flex;
  align-items: center;
  border-radius: 10rem;
  padding: 0.2rem 0.8rem 0.2rem 0.5rem;
  gap: 0.3rem;

  flex: 0 0 auto;

  p {
    display: inline-block;
    color: #BCFFE9;
    font-size: 14px;

  }

  img {
    width: 1.5rem;
  }
}



#see-section {
  background: $primary ;
  height: 300vh;
  width: 100%;
  border-radius: 0rem 0rem 0rem 0rem;
}



.mgb5 {
  margin-bottom: 5rem;

}



a{
  text-decoration: none;
}