@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");

//----------base----------------

@import "../scss/base/shimmer";
@import "../scss/base/color";
@import "../scss/base/typescale";
@import "../scss/base/spacing";
@import "../scss/base/footer_modern.scss";
@import "../scss/base/header.scss";
@import "../scss/base/backtop.scss";

//----------Home---------------------

@import "./home/head.scss";
@import "../scss/home/skills.scss";
@import "../scss/home/aboutme.scss";

//----------Projectss----------------

@import "../scss/Projects/project";

//----------Animations---------------

@import "../scss/animations/reval-animation.scss";
@import "../scss/animations/button-glowing.scss";
@import "../scss/animations/button-aboutme.scss";

//-----------------------------------

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


div {
}

html {
  background-color: $background;
  overflow-x: hidden;
}

.maxwidth-container {
  max-width: 1200px;
  margin: auto;
}

.maxwidth-container-text {
  width: 100%;
}

.maxwidth-container-withflex {
  @extend .maxwidth-container;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.section-gap {
  margin-bottom: 5rem;
}

/* Pop */
@keyframes pop {
  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.pop {
  display: inline-block;

  &:hover {
    animation-name: pop;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }
}

//_______PROJECTS___________________________________________________

.arr {
  max-width: 1.5rem;
  aspect-ratio: 1/1;
}

.infobox {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

//__________________________________________________________

a {
  color: green;
}

//____NEW PROJECT______________________________________________________

.project-sections {
  background-color: #000000;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 40px;
  //padding: 3rem;
}

.project {
  aspect-ratio: 1/1;
  grid-column: span 6 / span 6;
}

.project-margintop {
  margin-top: 6rem;
}

.project-imgbox {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grow-rotate {
  transition-duration: 0.1s;
  transition-property: transform;

  &:hover {
    transform: scale(1.04) rotate(2deg);
  }
}

.grow-rotate-opposite {
  transition-duration: 0.1s;
  transition-property: transform;

  &:hover {
    transform: scale(1.04) rotate(-2deg);
  }
}


.grow-rotate-reverse {
  transition-duration: 0.1s;
  transition-property: transform;
  transform: scale(1.04) rotate(2deg);

  &:hover {
    transform: scale(1.3) rotate(0deg);
  }
}




@media screen and (max-width: 1000px) {

  .tiltedvid {
    transform: scale(0);
    display: none !important;
  }

  .bigbox{
    margin-top: 4rem !important;
  }

  .bigtext{}

 

  .letsmakeithappen {
    max-width: 20rem;
  }

  .footer-maxwidth-container-withflex {
    max-width: 90%;
    margin: auto;
    padding-bottom: $spacing-2xl;
    padding-top: $spacing-md;
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }

  .contact-container{

    column-gap: $spacing-md;
    row-gap: $spacing-2xl;
    flex-wrap: wrap;
    margin: 1rem;
}

  .even-spacing-project {
    margin-top: 2rem;
  }

  .grow-rotate-reverse {
    transform: scale(1) rotate(0deg) !important;
  }

  .grow-rotate-reverse:hover {
    transform: scale(1) rotate(0deg) !important;
  }

  .grow-rotate {
    transform: scale(1) rotate(0deg) !important;
  }

  .grow-rotate:hover {
    transform: scale(1) rotate(0deg) !important;
  }

  .project-margintop {
    margin-top: 3rem;
  }

  .grid-container {
    display: block;
  }

  .new-skills-section,
  .aboutme-section,
  #precision-section,
  .new-skills-section {
    display: none !important;
  }

  .wrapper {
    padding: 2rem;
  }

  .bigbox {
    display: block !important;
  }

  

  .subtext-under-bigtext {
    min-width: 100% !important;
  }

  .footer-maxwidth-container-withflex {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    justify-content: flex-start;
    padding: 4rem 0rem ;

  }



.letsmakeithappen{
 display: none;
}

.stickynote{
  display: none;
}

.inner-contact-container{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  justify-content: center;

  p{
    text-align: center;
  }
}



}

//_______Footer animation___________________________________________________

.wrapper {
  background-color: $background-home;
  transform-origin: center bottom 0px;
  transition: all 0.2s ease 0s;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 0rem 0rem 2.5rem 2.5rem;
}

body.tight .wrapper {
  transform: translateY(-60px) scale(0.85);
  cursor: pointer;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

//___GRIDD___________________________________________________________________________

.even-spacing-project {
}

.grid12 {
  display: grid;
  grid-template-columns: repeat(12, minmax(3rem, 1fr));
  gap: 1rem;
  border: 1px solid wheat;
}

.project1 {
  grid-column: span 6;
  height: 30px;
  background-color: #5c5c5c;
}

.project2 {
  grid-column: span 6;
  height: 30px;
  background-color: #5c5c5c;
}

.project3 {
  grid-column: span 6;
  height: 30px;
  background-color: #5c5c5c;
}

.project4 {
  grid-column: span 6;
  height: 30px;
  background-color: #5c5c5c;
}

.tiltedvid {
  width: 10rem;
  display: flex;
  pointer-events: none !important;
  aspect-ratio: 4/3;
  rotate: 3deg;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.vidinside {
  width: 100%;
  height: auto;
  display: block;
  pointer-events: none !important;
}

.bigbox {
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#see-section {
  background: $primary;
  height: 300vh;
  width: 100%;
  border-radius: 0rem 0rem 0rem 0rem;
}

.mgb5 {
  margin-bottom: 5rem;
}

a {
  text-decoration: none;
}

//DEMO TEXT SCALE STUFF

.demotextscale {
  padding-top: 5rem;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: wheat;
  }

  p {
    color: $subtext;
  }
}

//---HEADER---------------------------------------------------

header {
  background-color: $background;
  padding-top: 1.5rem;
}

.header-back {
  margin: 0rem 2rem 0rem 2rem;
  padding: 1rem 0rem 1rem 0rem;
}

//------Header Products---------------------------------------------------------

.header-product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 90%;
  margin: auto;
}

.header-product-links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.gone {
  visibility: hidden;
  font-size: 0.001rem;
}

.tobedelted {
  height: 1000px;
}

.flexforsidebarandcontent {
  width: 100%;
  display: flex;
  flex-direction: row;
}

//------Who is this dude---------------------------------------------------------

.mypic {
  max-width: 23rem;
  max-height: 100%; /* Set a maximum height */
  height: auto; /* Allow the image to resize proportionally */
  object-fit: contain;
}

.aboutme-whoisthisdude {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.aboutme-div {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  justify-content: center;
  gap: 5rem;
}

.aboutme-text {
  max-width: 25rem;
}

.mystrengthtext {
  max-width: 50rem;
}

.aboutme-section {
}

//-----------------------------------------------------------

.NDA-sections {
  display: flex;
  flex-direction: row;
  padding: 0.8rem;
  border-radius: 0.5rem;
  background-color: #32240b;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;

  p {
    color: #c8902a;
    font-weight: 400;
  }

  img {
    padding-top: 0.2rem;
  }
}

//------Other case study-----------------------------

.othercasestudy-section {
  max-width: 800px;
  margin: auto;
  padding-bottom: 10rem;
}

.othercasestudy-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.othercasestudy-img {
  width: 100%;
  border-radius: 1rem;
}

.othercasestudy-container {
  display: flex;
  flex-direction: column;
}

.infobox-othercasestudy {
  max-width: 25rem;
  padding-top: 0.5rem;
}

//-----------------------------------

hr {
  border: 0.3px solid rgb(39, 39, 39); /* Line color */
  margin: 20px 0px 4rem 0px; /* Space around the line */
}

.showborder {
  border: 1px solid red;
  padding: 4px;
}


.chipsskills{
  @extend .grow-rotate;

  border: 1px solid rgb(66, 66, 66);
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 30rem;
  display: inline-block;
  color: grey;
  margin: 0.3rem;

  
  &:hover {
    background-color: $primarydark;
    color: $realprimarylight;
    border: 0px;
  }
  
  
}

.chipsskills-reverse{
  @extend .grow-rotate-opposite;

  border: 1px solid rgb(66, 66, 66);
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 30rem;
  display: inline-block;
  color: grey;
  margin: 0.3rem;

  
  &:hover {
    background-color: rgb(184, 150, 87);
    color: rgb(105, 68, 0);
    border: 0px;
  }
  
  
}
