#precision-section {
  height: 350vh;
}



.animatedparagraph {
 
  font-size: 3rem;
  font-weight: 350;
  line-height: 120%;
  letter-spacing: -0.0rem;
  color: rgb(255, 255, 255);
  position: sticky;
  top: 25%;
  padding-bottom: 5rem;

}

//TESTAMENT------------------------------------------------------------------


#precision-paragraph span {
  transition: opacity .1s linear;
}






#v0 {

  width: 100%;
  position: sticky;
  top: 0px;


}

#testament-section {
  width: 100% !important;
  padding-top: 3rem;
  height: 300vh;
  background-color: rgb(0, 0, 0);

}

#testament-paragraph {
  z-index: 2;
  position: sticky;
  top: 20%;


}
#see-paragraph {
  @extend .animatedparagraph;
  z-index: 2;
  position: sticky;
  top: 20%;
  color: black;

}

