button {
  padding: 0.8rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.25em;
  font-size: 1rem;
  white-space: nowrap;
  border-radius: 2rem;
  color: white;
  background-color: var(--primary);
  border: none;

  &:hover {
    background-color: var(--primary-dark);
    // border: 1px solid $primary;

  }

}

// button {
//   padding: 1rem 2rem;
//   display: flex;
//   align-items: center;
//   gap: 0.25em;
//   white-space: nowrap;
//   border-radius: 2rem;
//   color: white;
//   background-color: var(--primary);
//   border: none;

//   &:hover {
//     background-color: var(--primary-dark);
//     // border: 1px solid $primary;

//   }

// }


//--------------------------------------------------------------------


@media screen and (min-width: 768px) {


  button {
    padding: 1rem 2rem;
  }


}