//BASE COLORS
$grey25: #F9FAFB;
$grey50: #F3F4F6;
$grey100: #E5E7EB;
$grey200: #D2D5DB;
$grey300: #9CA3B0;
$grey400: #6B7280;
$grey500: #4C5563;
$grey600: #384151;
$grey700: #202937;
$grey800: #111827;
$grey900: #020712;
$blk : #000000;

$primary:#936BFF;
$primary-dark:#2a1665;
$primary-light:#bba3ff;



:root {
    //LIGHT MODE COLORS - token not base

    --primary: #{$primary};
    --bg:white;
    --bg_opposite:#E3E0ED;;

    --h1:#{$grey700};
    --h2:#{$grey700};
    --h3:#{$grey700};
    --h4:#{$grey600};
    --h5:#{$grey700};
    --h6:#{$grey700};

    --text_light:#{$grey700};
    --text:#{$grey400};
    --text_dark:#{$grey500};

    --border-subtle: #{$grey300};
    --border-moderate: #{$grey400};
    --border-bold: #{$grey50};

    --pscard_bg:#{$grey25};

    --links:blue;

}




[data-theme="dark"] {

    //DARK MODE COLORS - token not base

    --bg: black;
    --bg_opposite: white;

    --pscard_bg:#{$grey700};

    --h1:#{$grey100};
    --h2:#{$grey100};
    --h3:#{$grey100};
    --h4:#{$grey100};
    --h5:#{$grey100};
    --h6:#{$grey100};

    --text_light:#{$grey100};
    --text:#{$grey100};
    --text_dark:#{$grey100};

    --border-subtle: #{$grey300};
    --border-moderate: #{$grey400};
    --border-bold: #{$grey50};
    
}



h1 {
    color: var(--h1);
}

h2 {
    color: var(--h2);
}

h3 {
    color: var(--h3);
}

h4 {
    color: var(--h4);
}

h5 {
    color: var(--h5);
}

h6 {
    color: var(--h6);
}

p{
    color:var(--text);
}

li{
    color:var(--text);
}





* {
    transition: background-color 0.3s, color 0.3s; // Smooth transition
}

.master-wrapper {
    background-color: var(--bg_opposite);
}

.wrapper {
    background-color: var(--bg);
}




//  -----------------------------------------------------------------------------


html {
    background-color: var(--bg);
    overflow-x: hidden;
}