$base-spacing: 0.25rem; //=4px when base font =16px

$spacing-xs: $base-spacing * 0.5; //---2px
$spacing-sm: $base-spacing * 1; //-----4px
$spacing-md: $base-spacing * 2; //-----8px
$spacing-lg: $base-spacing * 4; //-----16px
$spacing-xl: $base-spacing * 8; //-----32px
$spacing-2xl: $base-spacing * 16; //---64px
$spacing-3xl: $base-spacing * 32; //---128px
$spacing-4xl: $base-spacing * 64; //---256px
$spacing-5xl: $base-spacing * 128; //--512px


$large-radius: 1.5rem;
$medium-radius: 1rem;
$small-radius: 0.5rem;


$spacing-between-content-blocks: 4rem;
$spacing-between-content-blocks-in-header: 6rem;


.radius-lg {
    border-radius: $large-radius;
}

.radius-md {
    border-radius: $medium-radius;
}

.radius-sm {
    border-radius: $small-radius;
}




.bottom-xs {
    margin-bottom: $spacing-xs !important;
}

.bottom-sm {
    margin-bottom: $spacing-sm !important;
}

.bottom-md {
    margin-bottom: $spacing-md !important;
}

.bottom-lg {
    margin-bottom: $spacing-lg !important;
}

.bottom-xl {
    margin-bottom: $spacing-xl !important;
}

.bottom-2xl {
    margin-bottom: $spacing-2xl !important;
}

.bottom-3xl {
    margin-bottom: $spacing-3xl  !important;
}

.bottom-4xl {
    margin-bottom: $spacing-4xl !important;
}

.bottom-5xl {
    margin-bottom: $spacing-5xl !important;
}



//-------------------------------



.top-xs {
    margin-top: $spacing-xs;
}

.top-sm {
    margin-top: $spacing-sm;
}

.top-md {
    margin-top: $spacing-md;
}

.top-lg {
    margin-top: $spacing-lg;
}

.top-xl {
    margin-top: $spacing-xl;
}

.top-2xl {
    margin-top: $spacing-2xl;
}

.top-3xl {
    margin-top: $spacing-3xl;
}

.top-4xl {
    margin-top: $spacing-4xl;
}

.top-5xl {
    margin-top: $spacing-5xl;
}



//-------------------------------


.left-xs {
    margin-left: $spacing-xs;
}

.left-sm {
    margin-left: $spacing-sm;
}

.left-md {
    margin-left: $spacing-md;
}

.left-lg {
    margin-left: $spacing-lg;
}

.left-xl {
    margin-left: $spacing-xl;
}

.left-2xl {
    margin-left: $spacing-2xl;
}

.left-3xl {
    margin-left: $spacing-3xl;
}

.left-4xl {
    margin-left: $spacing-4xl;
}

.left-5xl {
    margin-left: $spacing-5xl;
}

//-------------------------------


.right-xs {
    margin-right: $spacing-xs;
}

.right-sm {
    margin-right: $spacing-sm;
}

.right-md {
    margin-right: $spacing-md;
}

.right-lg {
    margin-right: $spacing-lg;
}

.right-xl {
    margin-right: $spacing-xl;
}

.right-2xl {
    margin-right: $spacing-2xl;
}

.right-3xl {
    margin-right: $spacing-3xl;
}

.right-4xl {
    margin-right: $spacing-4xl;
}

.right-5xl {
    margin-right: $spacing-5xl;
}

//--- RADIUS ----------------------------

.image-radius {
    border-radius: $large-radius;
}

.inner-piecesdiv-spacing {
    margin-bottom: $spacing-lg;
}