.demotextscale{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 10rem 0rem 5rem 0rem !important;
}

.demotextscale >div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}





//DEMO TEXT SCALE STUFF

