.header-container {
  @extend .maxwidth-container; // Extending properties from .maxwidth-container
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: $spacing-lg 0 $spacing-lg 0;

}



.header-links-container {

  display: flex;
  flex-direction: row;
  gap: $spacing-lg;
  align-items: center;
}



.headerlinks {
  color: var(--para-md);
}