.footer-section {
    display: flex;
    flex-direction: row;
   // justify-content: space-between;
    gap: 1rem;
    padding: 6rem 5rem;

    //border: 1px solid red;

}

.footer_innerbox {
    display: flex;
    flex-direction: row;
     //border: 1px solid red;
}

.box1_footer {
    grid-column: 1/span 6;
   // border: 1px solid red;

}


.box2_footer {
    color: var(--primary) !important;
    grid-column: 8/span 2;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.box3_footer {
    display: flex;
    min-width: 100%;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;

    //border: 1px solid red;

}

.text-cover{
    padding: 2rem 6rem ;
    border-radius: 100rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #E9E8F0;
    
}

.copyemailbutton{
    background-color: #FEDF6F;
    color: #443500 !important;
    border: none!important ;
    transform: rotate(-4deg) translate(-0rem, -1.5rem);
    font-family: "Permanent Marker", cursive !important;
    padding: 0.8rem 2rem !important;

    &:hover{
        background-color: #F8DA6E !important;
        border: none!important;
        color: #443500 !important;
    }
}

.copyemailbutton{

}

.footer-text {
    color: #6a638c;
    font-weight: 450;  
    
    font-size: 5rem !important;  
}

.footer-text-link {
    @extend .footer-text;


    &:hover {
        color: $primary;
        text-decoration: underline;
    }
}


.line-border {

    height: 1px;
    /* Thickness of the line */
    background-color: $grey200;
    /* Line color */
    margin-left: 4vw;
    margin-right: 4vw;

}


.lowerbox {

    max-width: 2500px;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 5rem 10vw;
}


//--------------------------------------------------------------------

