.footer-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    padding: 3vw 5vw 10vw 5vw;

}

.footer_innerbox {
    display: flex;
    flex-direction: row;
}

.box1_footer {
    grid-column: 1/span 6;

}


.box2_footer {
    color: var(--primary) !important;
    grid-column: 8/span 2;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.box3_footer {
    // border: 1px solid red;

}

.footer-text {
    color: #1F1A33;
    font-weight: 550;


}

.footer-text-link {
    @extend .footer-text;


    &:hover {
        color: $primary;
        text-decoration: underline;
    }
}


.line-border {

    height: 1px;
    /* Thickness of the line */
    background-color: $grey200;
    /* Line color */
    margin-left: 4vw;
    margin-right: 4vw;

}


.lowerbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 5vw 2rem 5vw;
}


//--------------------------------------------------------------------


@media screen and (max-width: 1000px) {

    .box3_footer {
        display: none;

    }

    .footer-text {
        color: #1F1A33;
        font-weight: 600;
        font-size: 2rem;


    }


    .box2_footer {
        padding: 2rem 0.5rem;
        color: var(--primary) !important;
        grid-column: 8/span 2;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .lowerbox {
        display: none;
    }



}