@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
body {
  background: #000;
}

.shimmer {
  font-family: "Times New Roman";
  font-size: 7.6rem;
  font-style: italic;
  animation: shimmer 5s infinite linear;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
:root {
  --primary: purple;
  --bg:white;
  --bg_opposite:black;
  --h1:#1D2939;
  --h2:#1D2939;
  --h3:#1D2939;
  --h4:#1D2939;
  --h5:#1D2939;
  --h6:#1D2939;
  --text_light:#667085;
  --text:#344054;
  --text_dark:#344054;
  --border-subtle: #D0D5DD;
  --border-moderate: #98A2B3;
  --border-bold: #F9FAFB;
  --pscard_bg:#FCFCFD;
  --links:blue;
}

[data-theme=dark] {
  --bg: black;
  --bg_opposite: white;
  --pscard_bg:#344054;
  --h1:#F2F4F7;
  --h2:#F2F4F7;
  --h3:#F2F4F7;
  --h4:#F2F4F7;
  --h5:#F2F4F7;
  --h6:#F2F4F7;
  --text_light:#98A2B3;
  --text:#98A2B3;
  --text_dark:#98A2B3;
  --border-subtle: #D0D5DD;
  --border-moderate: #98A2B3;
  --border-bold: #F9FAFB;
}

h1 {
  color: var(--h1);
}

h2 {
  color: var(--h2);
}

h3 {
  color: var(--h3);
}

h4 {
  color: var(--h4);
}

h5 {
  color: var(--h5);
}

h6 {
  color: var(--h6);
}

p {
  color: var(--text);
}

li {
  color: var(--text);
}

* {
  transition: background-color 0.3s, color 0.3s;
}

.master-wrapper {
  background-color: var(--bg_opposite);
}

.wrapper {
  background-color: var(--bg);
}

html {
  background-color: var(--bg);
  overflow-x: hidden;
}

:root {
  --primary: purple;
  --bg:white;
  --bg_opposite:black;
  --h1:#1D2939;
  --h2:#1D2939;
  --h3:#1D2939;
  --h4:#1D2939;
  --h5:#1D2939;
  --h6:#1D2939;
  --text_light:#667085;
  --text:#344054;
  --text_dark:#344054;
  --border-subtle: #D0D5DD;
  --border-moderate: #98A2B3;
  --border-bold: #F9FAFB;
  --pscard_bg:#FCFCFD;
  --links:blue;
}

[data-theme=dark] {
  --bg: black;
  --bg_opposite: white;
  --pscard_bg:#344054;
  --h1:#F2F4F7;
  --h2:#F2F4F7;
  --h3:#F2F4F7;
  --h4:#F2F4F7;
  --h5:#F2F4F7;
  --h6:#F2F4F7;
  --text_light:#98A2B3;
  --text:#98A2B3;
  --text_dark:#98A2B3;
  --border-subtle: #D0D5DD;
  --border-moderate: #98A2B3;
  --border-bold: #F9FAFB;
}

h1 {
  color: var(--h1);
}

h2 {
  color: var(--h2);
}

h3 {
  color: var(--h3);
}

h4 {
  color: var(--h4);
}

h5 {
  color: var(--h5);
}

h6 {
  color: var(--h6);
}

p {
  color: var(--text);
}

li {
  color: var(--text);
}

* {
  transition: background-color 0.3s, color 0.3s;
}

.master-wrapper {
  background-color: var(--bg_opposite);
}

.wrapper {
  background-color: var(--bg);
}

html {
  background-color: var(--bg);
  overflow-x: hidden;
}

html {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Instrument Sans", serif; /* Set the font family */
  font-optical-sizing: auto; /* Enable automatic optical sizing */
  font-variation-settings: "wdth" 100; /* Adjust the width axis of the variable font */
}

p, li {
  font-family: "Inter Tight", sans-serif;
}

h1 {
  font-size: 59.40688px;
  font-weight: 600;
  letter-spacing: -0.022em;
  line-height: 1;
}

h2 {
  font-size: 45.6976px;
  font-weight: 500;
  letter-spacing: -0.022em;
  line-height: 1.2;
}

h3 {
  font-size: 35.152px;
  font-weight: 500;
  letter-spacing: -0.022em;
  line-height: 1.2;
}

h4 {
  font-size: 27.04px;
  font-weight: 500;
  letter-spacing: -0.022em;
  line-height: 1.2;
}

h5 {
  font-size: 20.8px;
  font-weight: 500;
  letter-spacing: -0.022em;
  line-height: 1.5;
}

h6 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.022em;
  line-height: 1.5;
}

p.lg {
  font-size: 19.2px;
  font-weight: 300;
  line-height: 1.5;
}

p {
  font-size: 18px;
  font-weight: 320;
  letter-spacing: 0em;
  line-height: 1.55;
}

p.sm {
  font-size: 12.8px;
  font-weight: 350;
  line-height: 1;
  letter-spacing: 0.02em;
}

button {
  font-size: 14.4px;
  font-weight: 600;
  letter-spacing: 0em;
}

.bigtext {
  font-family: "Inter Tight";
  font-size: 6.22rem;
  font-weight: 400;
  letter-spacing: -0.2rem;
  line-height: 97%;
  color: var(--h1);
}

.subtext-under-bigtext {
  color: var(--text_light);
  max-width: 60%;
}

.junaid {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 7.6rem;
  position: relative;
  overflow: hidden;
  letter-spacing: -0.3rem;
}

.w100 {
  font-weight: 100;
}

.w200 {
  font-weight: 200;
}

.w300 {
  font-weight: 300;
}

.w400 {
  font-weight: 400;
}

.w500 {
  font-weight: 500;
}

.w600 {
  font-weight: 600;
}

.w700 {
  font-weight: 700;
}

.w800 {
  font-weight: 800;
}

.w900 {
  font-weight: 900;
}

.blockpara {
  font-weight: 100 !important;
  line-height: 1.35 !important;
  color: var(--h4);
}

li {
  font-size: 18px;
  font-weight: 320;
  letter-spacing: 0em;
  line-height: 1.55;
  padding-left: 0.5rem;
}

.bottom-xs {
  margin-bottom: 0.125rem;
}

.bottom-sm {
  margin-bottom: 0.25rem;
}

.bottom-md {
  margin-bottom: 0.5rem;
}

.bottom-lg {
  margin-bottom: 1rem;
}

.bottom-xl {
  margin-bottom: 2rem;
}

.bottom-2xl {
  margin-bottom: 4rem;
}

.bottom-3xl {
  margin-bottom: 8rem;
}

.bottom-4xl {
  margin-bottom: 16rem;
}

.bottom-5xl {
  margin-bottom: 32rem;
}

.top-xs {
  margin-top: 0.125rem;
}

.top-sm {
  margin-top: 0.25rem;
}

.top-md {
  margin-top: 0.5rem;
}

.top-lg {
  margin-top: 1rem;
}

.top-xl {
  margin-top: 2rem;
}

.top-2xl {
  margin-top: 4rem;
}

.top-3xl {
  margin-top: 8rem;
}

.top-4xl {
  margin-top: 16rem;
}

.top-5xl {
  margin-top: 32rem;
}

.left-xs {
  margin-left: 0.125rem;
}

.left-sm {
  margin-left: 0.25rem;
}

.left-md {
  margin-left: 0.5rem;
}

.left-lg {
  margin-left: 1rem;
}

.left-xl {
  margin-left: 2rem;
}

.left-2xl {
  margin-left: 4rem;
}

.left-3xl {
  margin-left: 8rem;
}

.left-4xl {
  margin-left: 16rem;
}

.left-5xl {
  margin-left: 32rem;
}

.right-xs {
  margin-right: 0.125rem;
}

.right-sm {
  margin-right: 0.25rem;
}

.right-md {
  margin-right: 0.5rem;
}

.right-lg {
  margin-right: 1rem;
}

.right-xl {
  margin-right: 2rem;
}

.right-2xl {
  margin-right: 4rem;
}

.right-3xl {
  margin-right: 8rem;
}

.right-4xl {
  margin-right: 16rem;
}

.right-5xl {
  margin-right: 32rem;
}

.image-radius {
  border-radius: 0.5rem;
}

.master-wrapper {
  width: 100%;
  height: 100%;
}

.textandarrow {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.getintouch-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.getintouch-title {
  font-weight: 400;
  color: var(--text);
}

.contact-container {
  display: flex;
  flex-direction: row;
  column-gap: 5rem;
  row-gap: 5rem;
  flex-wrap: wrap;
  margin: 1rem;
}

.arrow {
  width: 1.5rem;
  height: 1.5rem;
}

.letsmakeithappen {
  max-width: 25rem;
}

.footer-maxwidth-container-withflex {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: auto;
  justify-content: flex-start;
  padding: 4rem 0rem;
}

.opentowork {
  max-width: 18%;
}

.details-text {
  color: var(--para-md);
  font-weight: 400 !important;
}

.inner-contact-container {
  display: flex;
  flex-direction: row;
  column-gap: 4rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem 0 1rem 0;
}

.header-links-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.headerlinks {
  color: var(--para-md);
}

:root {
  --primary: purple;
  --bg:white;
  --bg_opposite:black;
  --h1:#1D2939;
  --h2:#1D2939;
  --h3:#1D2939;
  --h4:#1D2939;
  --h5:#1D2939;
  --h6:#1D2939;
  --text_light:#667085;
  --text:#344054;
  --text_dark:#344054;
  --border-subtle: #D0D5DD;
  --border-moderate: #98A2B3;
  --border-bold: #F9FAFB;
  --pscard_bg:#FCFCFD;
  --links:blue;
}

[data-theme=dark] {
  --bg: black;
  --bg_opposite: white;
  --pscard_bg:#344054;
  --h1:#F2F4F7;
  --h2:#F2F4F7;
  --h3:#F2F4F7;
  --h4:#F2F4F7;
  --h5:#F2F4F7;
  --h6:#F2F4F7;
  --text_light:#98A2B3;
  --text:#98A2B3;
  --text_dark:#98A2B3;
  --border-subtle: #D0D5DD;
  --border-moderate: #98A2B3;
  --border-bold: #F9FAFB;
}

h1 {
  color: var(--h1);
}

h2 {
  color: var(--h2);
}

h3 {
  color: var(--h3);
}

h4 {
  color: var(--h4);
}

h5 {
  color: var(--h5);
}

h6 {
  color: var(--h6);
}

p {
  color: var(--text);
}

li {
  color: var(--text);
}

* {
  transition: background-color 0.3s, color 0.3s;
}

.master-wrapper {
  background-color: var(--bg_opposite);
}

.wrapper {
  background-color: var(--bg);
}

html {
  background-color: var(--bg);
  overflow-x: hidden;
}

.back-to-top {
  background-color: purple;
  text-decoration: none;
  cursor: pointer;
  width: 56px;
  height: 56px;
  z-index: 999;
  position: fixed;
  right: 32px;
  bottom: 32px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 100%;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.4);
}
.back-to-top:hover {
  background-color: #bd00bd;
}
.back-to-top:active {
  box-shadow: none;
  background-color: #d60074;
}
.back-to-top svg.icon__arrow-up {
  fill: white;
  width: 32px;
  height: 32px;
}

body {
  min-height: 100vh;
}
body .box {
  padding: 40px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .box-2 {
  background-color: #ddd;
}
body .box-3 {
  background-color: #ccc;
}
body .box-4 {
  background-color: #bbb;
}
body .box .title {
  margin: 0;
  text-align: center;
}

:root {
  --primary: purple;
  --bg:white;
  --bg_opposite:black;
  --h1:#1D2939;
  --h2:#1D2939;
  --h3:#1D2939;
  --h4:#1D2939;
  --h5:#1D2939;
  --h6:#1D2939;
  --text_light:#667085;
  --text:#344054;
  --text_dark:#344054;
  --border-subtle: #D0D5DD;
  --border-moderate: #98A2B3;
  --border-bold: #F9FAFB;
  --pscard_bg:#FCFCFD;
  --links:blue;
}

[data-theme=dark] {
  --bg: black;
  --bg_opposite: white;
  --pscard_bg:#344054;
  --h1:#F2F4F7;
  --h2:#F2F4F7;
  --h3:#F2F4F7;
  --h4:#F2F4F7;
  --h5:#F2F4F7;
  --h6:#F2F4F7;
  --text_light:#98A2B3;
  --text:#98A2B3;
  --text_dark:#98A2B3;
  --border-subtle: #D0D5DD;
  --border-moderate: #98A2B3;
  --border-bold: #F9FAFB;
}

h1 {
  color: var(--h1);
}

h2 {
  color: var(--h2);
}

h3 {
  color: var(--h3);
}

h4 {
  color: var(--h4);
}

h5 {
  color: var(--h5);
}

h6 {
  color: var(--h6);
}

p {
  color: var(--text);
}

li {
  color: var(--text);
}

* {
  transition: background-color 0.3s, color 0.3s;
}

.master-wrapper {
  background-color: var(--bg_opposite);
}

.wrapper {
  background-color: var(--bg);
}

html {
  background-color: var(--bg);
  overflow-x: hidden;
}

.pscard {
  top: 30px;
  position: sticky;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--pscard_bg);
  background-image: url("/src/image//du.jpg");
  background-size: contain; /* Ensures the whole image is visible without cropping */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image in the container */
  color: var(--para-md);
  padding: 2.5rem;
  border-radius: 1.5rem;
  margin-bottom: 20px;
  aspect-ratio: 110000/50417;
  justify-content: end;
}

.pscard-cont {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 50%;
}

.pscard:nth-child(1n) {
  top: 20px;
}

.pscard:nth-child(2n) {
  top: 40px;
}

.pscard:nth-child(3n) {
  top: 60px;
}

.pscard:nth-child(4n) {
  top: 80px;
}

.pscard:nth-child(5n) {
  top: 100px;
}

.pscard:nth-child(6n) {
  top: 120px;
}

.pscard:nth-child(7n) {
  top: 140px;
}

.pscard:nth-child(8n) {
  top: 160px;
}

.proj-desc {
  margin-top: 1rem;
}

.proj-logo {
  max-width: 3rem;
}

.hiringmanager {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skills-section, .new-skills-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.stickynote {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 3px;
  max-width: 400px;
  margin: auto;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.03), 0 6.7px 5.3px rgba(0, 0, 0, 0.05), 0 12.5px 10px rgba(0, 0, 0, 0.07), 0 22.3px 17.9px rgba(0, 0, 0, 0.09), 0 41.8px 33.4px rgba(0, 0, 0, 0.11), 0 100px 80px rgba(0, 0, 0, 0.15);
}
.stickynote p.lg {
  color: #2c2c2c;
  font-family: "Kalam", serif;
  font-weight: 700;
}
.stickynote p.md {
  color: #2c2c2c;
  font-family: "Kalam", serif;
  font-weight: 400;
  line-height: 150%;
  font-size: 1.2em;
}

.yellowSticky {
  background: linear-gradient(145deg, #ffeb3b, #fdd835); /* Darker gradient background */
}

.redSticky {
  background-color: #F16C7F;
  margin-top: 3rem;
}

.blueSticky {
  background-color: #6CD9FA;
}

.rotateright {
  transform: rotate(3deg);
}

.rotateleft {
  transform: rotate(-3deg);
}

.stickyContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@media (max-width: 767px) {
  .stickyContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .skills-section, .new-skills-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  .stickynote {
    aspect-ratio: 1/1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 3px;
    width: 350px;
    margin: auto;
  }
  .stickynote p.lg {
    color: #2c2c2c;
    font-family: "Kalam", sans-serif;
    font-weight: 700;
  }
  .stickynote p.md {
    color: #2c2c2c;
    font-family: "Kalam", sans-serif;
    font-weight: 400;
    line-height: 180%;
    font-size: 1.2em;
  }
  .yellowSticky {
    background-color: #ffc000;
  }
  .redSticky {
    background-color: #F16C7F;
    margin-top: 3rem;
  }
  .blueSticky {
    background-color: #6CD9FA;
  }
  .rotateright {
    transform: rotate(3deg);
  }
  .rotateleft {
    transform: rotate(-3deg);
  }
}
.aboutme-section {
  max-width: 1400px;
  padding-top: 10rem;
  padding-bottom: 10rem;
  border-radius: 0rem 0rem 2.5rem 2.5rem;
  margin: auto;
}

.grid12px {
  padding-left: 2rem;
  padding-right: 2rem;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: 40px;
}

#aboutme-title {
  font-family: Kalam, sans-serif;
  font-size: 2rem;
}

.abtme-p {
  grid-column: 5/span 6;
}

.abtme-img1 {
  grid-column: 1/span 3;
  width: 90%;
  height: 25rem;
  border-radius: 12px;
  object-fit: cover;
}

.abtme-img2 {
  margin-top: 150px;
  grid-column: 1/span 2;
  width: 100%;
  height: 17rem;
  border-radius: 12px;
  object-fit: cover;
  transform: translateX(-3rem);
}

.abtme-img3 {
  grid-column: 5/span 4;
  width: 100%;
  height: 13rem;
  border-radius: 12px;
  object-fit: cover;
}

.abtme-img4 {
  grid-column: 10/span 3;
  width: 100%;
  height: 13rem;
  border-radius: 12px;
  object-fit: cover;
  margin-top: -150px;
  transform: translateX(4rem);
}

.below-title-spacing {
  margin-bottom: 1rem;
}

.title-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.imagegrid4-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.grid-fullwidth1 {
  grid-area: 1/1/2/3;
}

.grid-halfwidth1 {
  grid-area: 2/1/3/2;
  width: 100%; /* Stretch the image to fit the width of the container */
  height: auto; /* Maintain aspect ratio */
}

.grid-halfwidth2 {
  grid-area: 2/2/3/3;
  width: 100%; /* Stretch the image to fit the width of the container */
  height: auto; /* Maintain aspect ratio */
}

.grid-fullwidth2 {
  grid-area: 3/1/4/3;
}

.img-fullwidth {
  max-width: 100%;
}

.twocol-para {
  columns: 2;
  gap: 1rem;
}

.project-details-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.role-section {
  display: flex;
  flex-direction: column;
  column-gap: 3rem;
}

.pieces-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.project-content-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pieces-div-container {
  margin: auto;
  width: 700px;
}

.aside-sub {
  margin-left: 0.5rem;
}

aside {
  min-width: 13rem;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 100vh;
  max-width: 12rem;
  position: sticky;
  top: 0;
  left: 0;
}

.backcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  min-width: 12rem;
  max-width: 12rem;
}

.title-back {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.tocc a {
  text-decoration: none;
  color: var(--text);
  padding-top: 1rem;
  line-height: 1 !important;
  font-size: 12.8px !important;
  font-weight: 350 !important;
  letter-spacing: 0.02em !important;
}

.tocc li {
  list-style-type: none; /* Remove bullet points */
  padding-top: 0.5rem;
  line-height: 1 !important;
  padding-left: 0rem !important;
}

.active {
  font-weight: 400 !important;
  color: var(--primary) !important;
}

.proj-title {
  width: 100%;
  text-align: center !important;
}

.header-back-container {
  display: flex;
  flex-direction: row;
}

.backarr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-title {
  max-width: 800px;
}

.product-title-container {
  max-width: 80%;
  margin-left: 12rem;
}

.imageC {
  width: 110%;
  margin: auto;
  transform: translate(-5%);
}

.quoteblocksfc {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.quote-icon {
  height: auto;
  width: 2rem;
}

.crumbs {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media screen and (max-width: 700px) {
  aside {
    display: none;
  }
  .product-title-container {
    max-width: 100%;
    margin: 0;
  }
  .imagegrid4-section {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .product-title {
    font-size: 3rem;
    margin: 4rem 0rem !important;
  }
}
#precision-section {
  height: 350vh;
  background: linear-gradient(to bottom, var(--bg), var(--bg));
}

.animatedparagraph, #see-paragraph {
  font-size: 2.8rem;
  font-weight: 350;
  line-height: 130%;
  letter-spacing: -0.08rem;
  color: var(--text);
  position: sticky;
  top: 30%;
  padding-bottom: 5rem;
}

#precision-paragraph span {
  transition: opacity 0.2s linear;
}

#v0 {
  width: 100%;
  position: sticky;
  top: 0px;
}

#testament-section {
  width: 100% !important;
  padding-top: 3rem;
  height: 300vh;
  background-color: rgb(0, 0, 0);
}

#testament-paragraph {
  z-index: 2;
  position: sticky;
  top: 20%;
}

#see-paragraph {
  z-index: 2;
  position: sticky;
  top: 20%;
  color: black;
}

.button-div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

button {
  font-family: "Inter Tight", sans-serif;
  padding: 13px 25px 13px 25px;
  font-size: 14.4px;
  font-weight: 600;
  letter-spacing: 0em;
  position: relative;
  border-radius: 8px;
  border: 1.5px solid purple;
  text-transform: uppercase;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
button:hover {
  border: 1.5px solid purple;
  background: purple;
  /* Background color */
  filter: drop-shadow(0px 0px 60px purple);
  box-shadow: 0 0 50px 10px purple;
  -webkit-transition: all 0.2s ease-out;
  color: black;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.5s ease-out;
}
button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.2s 0s linear;
}
button::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

@media screen and (max-width: 700px) {
  button {
    animation: none !important;
    transition: none !important;
  }
  button:hover {
    background: transparent;
    color: #fff;
    border: 1.5px solid purple;
    filter: none;
    box-shadow: none;
  }
  button::before {
    animation: none !important;
    content: none;
  }
}
.button-div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.aboutmebtn {
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  padding: 10px 23px 10px 23px;
  font-size: 1em;
  position: relative;
  border-radius: 8px;
  border: 1.5px solid grey;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  text-transform: none;
  letter-spacing: 0px;
}
.aboutmebtn:hover {
  border: 1.5px solid purple;
  background: purple;
  /* Background color */
  filter: drop-shadow(0px 0px 60px purple);
  box-shadow: 0 0 50px 10px purple;
  -webkit-transition: all 0.2s ease-out;
  color: black;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.aboutmebtn:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}
.aboutmebtn::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.aboutmebtn:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.glare {
  position: relative;
  font-size: 5rem;
  display: grid;
  place-items: center;
}

.glare::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, hsla(0, 0%, 0%, 0) 60%, hsla(0, 0%, 100%, 0.5) 70%, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0) 100%);
  transition: 1000ms ease;
  background-size: 250% 250%, 100% 100%;
  background-repeat: no-repeat;
  background-position: -500px -500px, 0 0;
}

.glare:hover {
  cursor: pointer;
}

.glare:hover::before {
  background-position: 280px 280px, 0 0;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.maxwidth-container, .maxwidth-container-withflex, .header-container {
  max-width: 1100px;
  margin: auto;
}

.maxwidth-container-text {
  width: 680px;
}

.text-container {
  width: 750px;
  margin: auto;
}

.maxwidth-container-withflex {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.section-gap {
  margin-bottom: 5rem;
}

/* Pop */
@keyframes pop {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.pop {
  display: inline-block;
}
.pop:hover {
  animation-name: pop;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.arr {
  max-width: 1.5rem;
  aspect-ratio: 1/1;
}

.infobox {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

a {
  color: green;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 40px;
}

.project {
  aspect-ratio: 1/1;
  grid-column: span 6/span 6;
}

.project-margintop {
  margin-top: 6rem;
}

.project-imgbox {
  width: 100%;
  height: auto;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
  border: 1px solid white;
}

.grow-rotate, .chipsskills {
  transition-duration: 700ms;
  transition-property: transform;
}
.grow-rotate:hover, .chipsskills:hover {
  transform: scale(1.04) rotate(1deg);
}

.grow-rotate-opposite, .chipsskills-reverse {
  transition-duration: 0.1s;
  transition-property: transform;
}
.grow-rotate-opposite:hover, .chipsskills-reverse:hover {
  transform: scale(1.04) rotate(-2deg);
  box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
}

.grow-rotate-reverse {
  transition-duration: 0.1s;
  transition-property: transform;
  transform: scale(1.04) rotate(2deg);
}
.grow-rotate-reverse:hover {
  transform: scale(1.3) rotate(0deg);
}

.grow-rotate-small {
  transition-duration: 0.1s;
  transition-property: transform;
  transform: scale(1) rotate(2deg);
}
.grow-rotate-small:hover {
  transform: scale(1) rotate(0deg);
}

@media screen and (max-width: 1000px) {
  .tiltedvid {
    transform: scale(0);
    display: none !important;
  }
  .letsmakeithappen {
    max-width: 20rem;
  }
  .footer-maxwidth-container-withflex {
    max-width: 90%;
    margin: auto;
    padding-bottom: 4rem;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }
  .contact-container {
    column-gap: 0.5rem;
    row-gap: 4rem;
    flex-wrap: wrap;
    margin: 1rem;
  }
  .even-spacing-project {
    margin-top: 2rem;
  }
  .grow-rotate-reverse {
    transform: scale(1) rotate(0deg) !important;
  }
  .grow-rotate-reverse:hover {
    transform: scale(1) rotate(0deg) !important;
  }
  .grow-rotate, .chipsskills {
    transform: scale(1) rotate(0deg) !important;
  }
  .grow-rotate:hover, .chipsskills:hover {
    transform: scale(1) rotate(0deg) !important;
  }
  .project-margintop {
    margin-top: 3rem;
  }
  .grid-container {
    display: block;
  }
  .new-skills-section,
  .aboutme-section,
  #precision-section,
  .new-skills-section {
    display: none !important;
  }
  .wrapper {
    padding: 2rem;
  }
  .footer-maxwidth-container-withflex {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    justify-content: flex-start;
    padding: 4rem 0rem;
  }
  .letsmakeithappen {
    display: none;
  }
  .stickynote {
    display: none;
  }
  .inner-contact-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    justify-content: center;
  }
  .inner-contact-container p {
    text-align: center;
  }
}
.wrapper {
  transform-origin: center bottom 0px;
  transition: all 0.2s ease 0s;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 0rem 0rem 2.5rem 2.5rem;
}

body.tight .wrapper {
  transform: translateY(-60px) scale(0.85);
  cursor: pointer;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.grid12 {
  display: grid;
  grid-template-columns: repeat(12, minmax(3rem, 1fr));
  gap: 1rem;
  border: 1px solid wheat;
}

.project1 {
  grid-column: span 6;
  height: 30px;
  background-color: #5c5c5c;
}

.project2 {
  grid-column: span 6;
  height: 30px;
  background-color: #5c5c5c;
}

.project3 {
  grid-column: span 6;
  height: 30px;
  background-color: #5c5c5c;
}

.project4 {
  grid-column: span 6;
  height: 30px;
  background-color: #5c5c5c;
}

.tiltedvid {
  width: 10rem;
  display: flex;
  pointer-events: none !important;
  aspect-ratio: 4/3;
  rotate: 3deg;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.vidinside {
  width: 100%;
  height: auto;
  display: block;
  pointer-events: none !important;
}

.bigbox {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#see-section {
  background: purple;
  height: 300vh;
  width: 100%;
  border-radius: 0rem 0rem 0rem 0rem;
}

.mgb5 {
  margin-bottom: 5rem;
}

a {
  text-decoration: none;
}

.demotextscale {
  padding-top: 5rem;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.demotextscale div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

header {
  background-color: var(--bg);
  padding-top: 1.5rem;
}

.header-back {
  margin: 0rem 2rem 0rem 2rem;
  padding: 1rem 0rem 1rem 0rem;
}

.header-product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 90%;
  margin: auto;
}

.header-product-links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.gone {
  visibility: hidden;
  font-size: 0.001rem;
}

.tobedelted {
  height: 1000px;
}

.flexforsidebarandcontent {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.mypic {
  max-width: 23rem;
  max-height: 100%;
  /* Set a maximum height */
  height: auto;
  /* Allow the image to resize proportionally */
  object-fit: contain;
}

.aboutme-whoisthisdude {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.aboutme-div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
}

.aboutme-text {
  max-width: 25rem;
}

.mystrengthtext {
  max-width: 50rem;
}

.NDA-sections {
  display: flex;
  flex-direction: row;
  padding: 0.8rem;
  border-radius: 0.5rem;
  background-color: #32240b;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
}
.NDA-sections p {
  color: #c8902a;
  font-weight: 400;
}
.NDA-sections img {
  padding-top: 0.2rem;
}

.othercasestudy-section {
  max-width: 800px;
  margin: auto;
  padding-bottom: 10rem;
}

.othercasestudy-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.othercasestudy-img {
  width: 100%;
  border-radius: 1rem;
}

.othercasestudy-container {
  display: flex;
  flex-direction: column;
}

.infobox-othercasestudy {
  max-width: 25rem;
  padding-top: 0.5rem;
}

hr {
  border: 0.3px solid rgb(39, 39, 39);
  /* Line color */
  margin: 20px 0px 4rem 0px;
  /* Space around the line */
}

.showborder {
  border: 1px solid red;
  padding: 4px;
}

.chipsskills {
  border: 1px solid rgb(66, 66, 66);
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 30rem;
  display: inline-block;
  color: grey;
  margin: 0.3rem;
}
.chipsskills:hover {
  background-color: var(--bg);
  color: palegoldenrod;
  border: 0px;
}

.chipsskills-reverse {
  border: 1px solid rgb(66, 66, 66);
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 30rem;
  display: inline-block;
  color: grey;
  margin: 0.3rem;
}
.chipsskills-reverse:hover {
  background-color: rgb(184, 150, 87);
  color: rgb(105, 68, 0);
  border: 0px;
}

/* WebKit Browsers */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #4a4a4a;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5e5e5e;
}

.nointeraction {
  pointer-events: none;
}

.designingfordiv {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.center {
  margin: auto;
}

.subtext-under-bigtext {
  font-size: 1.5rem;
  max-width: 60% !important;
  font-weight: 100 !important;
}