@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
:root {
  --primary: #0171E3;
  --primary-dark: rgb(0, 100, 202);
  --primary-light: #bba3ff;
  --bg:white;
  --bg_opposite:#E8E8ED;
  --h1:#202937;
  --h2:#384151;
  --h3:#384151;
  --h4:#384151;
  --h5:#384151;
  --h6:#384151;
  --text_light:#6B7280;
  --text:#6B7280;
  --text_dark:#384151;
  --blockpara:#6B7280;
  --border-subtle: #D2D5DB;
  --border-moderate: #9CA3B0;
  --border-bold: #F9FAFB;
  --pscard_bg:#F9FAFB;
  --links:blue;
}

[data-theme=dark] {
  --bg: black;
  --bg_opposite: white;
  --pscard_bg:#384151;
  --h1:#F3F4F6;
  --h2:#F3F4F6;
  --h3:#F3F4F6;
  --h4:#F3F4F6;
  --h5:#F3F4F6;
  --h6:#F3F4F6;
  --text_light:#F3F4F6;
  --text:#F3F4F6;
  --text_dark:#F3F4F6;
  --border-subtle: #D2D5DB;
  --border-moderate: #9CA3B0;
  --border-bold: #F9FAFB;
}

h1 {
  color: var(--h1);
}

h2 {
  color: var(--h2);
}

h3 {
  color: var(--h3);
}

h4 {
  color: var(--h4);
}

h5 {
  color: var(--h5);
}

h6 {
  color: var(--h6);
}

p {
  color: var(--text);
}

li {
  color: var(--text);
}

* {
  transition: background-color 0.3s, color 0.3s;
}

.master-wrapper {
  background-color: var(--bg_opposite);
}

.wrapper {
  background-color: var(--bg);
}

html {
  background-color: var(--bg);
  overflow-x: hidden;
}

:root {
  --primary: #0171E3;
  --primary-dark: rgb(0, 100, 202);
  --primary-light: #bba3ff;
  --bg:white;
  --bg_opposite:#E8E8ED;
  --h1:#202937;
  --h2:#384151;
  --h3:#384151;
  --h4:#384151;
  --h5:#384151;
  --h6:#384151;
  --text_light:#6B7280;
  --text:#6B7280;
  --text_dark:#384151;
  --blockpara:#6B7280;
  --border-subtle: #D2D5DB;
  --border-moderate: #9CA3B0;
  --border-bold: #F9FAFB;
  --pscard_bg:#F9FAFB;
  --links:blue;
}

[data-theme=dark] {
  --bg: black;
  --bg_opposite: white;
  --pscard_bg:#384151;
  --h1:#F3F4F6;
  --h2:#F3F4F6;
  --h3:#F3F4F6;
  --h4:#F3F4F6;
  --h5:#F3F4F6;
  --h6:#F3F4F6;
  --text_light:#F3F4F6;
  --text:#F3F4F6;
  --text_dark:#F3F4F6;
  --border-subtle: #D2D5DB;
  --border-moderate: #9CA3B0;
  --border-bold: #F9FAFB;
}

h1 {
  color: var(--h1);
}

h2 {
  color: var(--h2);
}

h3 {
  color: var(--h3);
}

h4 {
  color: var(--h4);
}

h5 {
  color: var(--h5);
}

h6 {
  color: var(--h6);
}

p {
  color: var(--text);
}

li {
  color: var(--text);
}

* {
  transition: background-color 0.3s, color 0.3s;
}

.master-wrapper {
  background-color: var(--bg_opposite);
}

.wrapper {
  background-color: var(--bg);
}

html {
  background-color: var(--bg);
  overflow-x: hidden;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

p,
li,
a,
button {
  font-family: "Inter Tight", sans-serif;
}

h1 {
  font-family: "Inter Tight", sans-serif !important;
  font-size: 59.40688px;
  font-weight: 550;
  letter-spacing: 0em;
  line-height: 1;
}

h2 {
  font-size: 45.6976px;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1.2;
}

h3 {
  font-size: 35.152px;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1.2;
}

h4 {
  font-size: 27.04px;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1.2;
}

h5 {
  font-size: 20.8px;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1.5;
}

h6 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1.5;
}

p.lg {
  font-size: 20.8px;
  font-weight: 300;
  line-height: 1.7;
}

p {
  font-size: 19.2px;
  font-weight: 360;
  letter-spacing: 0.015em;
  line-height: 1.7;
}

p.sm {
  font-size: 14.4px;
  font-weight: 350;
  line-height: 1;
  letter-spacing: 0.02em;
}

button {
  font-size: 19.2px;
  font-weight: 450;
  letter-spacing: 0.05em;
}

.bigtext {
  font-family: "Inter Tight", sans-serif;
  font-size: 6.22rem;
  font-weight: 400;
  letter-spacing: -0.2rem;
  line-height: 97%;
  color: var(--h1);
}

.subtext-under-bigtext, .currenlydesigningtext {
  font-size: 1.5rem;
  max-width: 50% !important;
  font-weight: 320 !important;
  letter-spacing: 0rem !important;
  color: var(--text_light);
}

.junaid {
  font-style: italic;
  font-size: 7.6rem;
  position: relative;
  overflow: hidden;
  letter-spacing: -0.3rem;
}

.w100 {
  font-weight: 100;
}

.w200 {
  font-weight: 200;
}

.w300 {
  font-weight: 300;
}

.w400 {
  font-weight: 400;
}

.w500 {
  font-weight: 500;
}

.w600 {
  font-weight: 600;
}

.w700 {
  font-weight: 700;
}

.w800 {
  font-weight: 800;
}

.w900 {
  font-weight: 900;
}

.blockpara, .blockparaBlack {
  font-family: "Inter Tight", sans-serif !important;
  font-weight: 350 !important;
  line-height: 1.5 !important;
  color: var(--blockpara);
  letter-spacing: 0.015em !important;
}

.blockparaBlack {
  color: var(--grey700) !important;
}

li {
  font-size: 19.2px;
  font-weight: 360;
  letter-spacing: 0.015em;
  line-height: 1.7;
  padding-left: 0.5rem;
}

.currenlydesigningtext {
  max-width: 100% !important;
  white-space: nowrap;
  /* Prevents line breaks */
}

.radius-lg {
  border-radius: 1.5rem;
}

.radius-md {
  border-radius: 1rem;
}

.radius-sm {
  border-radius: 0.5rem;
}

.bottom-xs {
  margin-bottom: 0.125rem !important;
}

.bottom-sm {
  margin-bottom: 0.25rem !important;
}

.bottom-md {
  margin-bottom: 0.5rem !important;
}

.bottom-lg {
  margin-bottom: 1rem !important;
}

.bottom-xl {
  margin-bottom: 2rem !important;
}

.bottom-2xl {
  margin-bottom: 4rem !important;
}

.bottom-3xl {
  margin-bottom: 8rem !important;
}

.bottom-4xl {
  margin-bottom: 16rem !important;
}

.bottom-5xl {
  margin-bottom: 32rem !important;
}

.top-xs {
  margin-top: 0.125rem;
}

.top-sm {
  margin-top: 0.25rem;
}

.top-md {
  margin-top: 0.5rem;
}

.top-lg {
  margin-top: 1rem;
}

.top-xl {
  margin-top: 2rem;
}

.top-2xl {
  margin-top: 4rem;
}

.top-3xl {
  margin-top: 8rem;
}

.top-4xl {
  margin-top: 16rem;
}

.top-5xl {
  margin-top: 32rem;
}

.left-xs {
  margin-left: 0.125rem;
}

.left-sm {
  margin-left: 0.25rem;
}

.left-md {
  margin-left: 0.5rem;
}

.left-lg {
  margin-left: 1rem;
}

.left-xl {
  margin-left: 2rem;
}

.left-2xl {
  margin-left: 4rem;
}

.left-3xl {
  margin-left: 8rem;
}

.left-4xl {
  margin-left: 16rem;
}

.left-5xl {
  margin-left: 32rem;
}

.right-xs {
  margin-right: 0.125rem;
}

.right-sm {
  margin-right: 0.25rem;
}

.right-md {
  margin-right: 0.5rem;
}

.right-lg {
  margin-right: 1rem;
}

.right-xl {
  margin-right: 2rem;
}

.right-2xl {
  margin-right: 4rem;
}

.right-3xl {
  margin-right: 8rem;
}

.right-4xl {
  margin-right: 16rem;
}

.right-5xl {
  margin-right: 32rem;
}

.image-radius {
  border-radius: 1.5rem;
}

.inner-piecesdiv-spacing {
  margin-bottom: 1rem;
}

.demotextscale {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.demotextscale > div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 6rem 0rem 3rem 0rem;
  overflow: hidden;
  max-width: 100%;
}

.box3_footer {
  display: flex;
  min-width: 100%;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.text-cover {
  padding: 1.5rem 2rem;
  border-radius: 100rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #EFEFF2;
}

.copyemailbutton {
  transform: rotate(-4deg) translate(0rem, -1.5rem);
  font-family: "Permanent Marker", cursive !important;
  padding: 0.8rem 2rem !important;
  font-weight: 300 !important;
}

.footer-text {
  color: #89899D;
  font-weight: 400;
  font-size: 1.5rem !important;
  letter-spacing: 0.03rem;
}

.lowerbox {
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.copy-success {
  font-family: "Inter Tight";
  font-size: 1rem;
  padding-left: 0.5rem;
  color: #0171E3;
}

.copyright {
  text-align: center;
  padding: 1rem;
}

@media screen and (min-width: 640px) {
  .box3_footer {
    gap: 1.5rem;
  }
  .footer-text {
    color: #89899D;
    font-weight: 400;
    font-size: 3rem !important;
    letter-spacing: 0.03rem;
  }
}
@media screen and (min-width: 1024px) {
  .box3_footer {
    gap: 1.5rem;
  }
  .footer-text {
    color: #89899D;
    font-weight: 400;
    font-size: 4.5rem !important;
    letter-spacing: 0.03rem;
  }
}
@media screen and (min-width: 1280px) {
  .box3_footer {
    gap: 1.5rem;
  }
  .footer-text {
    color: #89899D;
    font-weight: 400;
    font-size: 5rem !important;
    letter-spacing: 0.03rem;
  }
}
.header-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem 0 1rem 0;
}

.header-links-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.headerlinks {
  color: var(--para-md);
}

header {
  background-color: var(--bg);
  padding-top: 1rem;
}

.header-back {
  margin: 0rem 2rem;
  padding: 1rem 0rem;
}

.header-product {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 95%;
  margin: auto;
}

.header-product-links {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.gone {
  visibility: hidden;
  font-size: 0.001rem;
}

.tobedelted {
  height: 1000px;
}

.flexforsidebarandcontent {
  width: 100%;
  display: flex;
  flex-direction: row;
}

:root {
  --primary: #0171E3;
  --primary-dark: rgb(0, 100, 202);
  --primary-light: #bba3ff;
  --bg:white;
  --bg_opposite:#E8E8ED;
  --h1:#202937;
  --h2:#384151;
  --h3:#384151;
  --h4:#384151;
  --h5:#384151;
  --h6:#384151;
  --text_light:#6B7280;
  --text:#6B7280;
  --text_dark:#384151;
  --blockpara:#6B7280;
  --border-subtle: #D2D5DB;
  --border-moderate: #9CA3B0;
  --border-bold: #F9FAFB;
  --pscard_bg:#F9FAFB;
  --links:blue;
}

[data-theme=dark] {
  --bg: black;
  --bg_opposite: white;
  --pscard_bg:#384151;
  --h1:#F3F4F6;
  --h2:#F3F4F6;
  --h3:#F3F4F6;
  --h4:#F3F4F6;
  --h5:#F3F4F6;
  --h6:#F3F4F6;
  --text_light:#F3F4F6;
  --text:#F3F4F6;
  --text_dark:#F3F4F6;
  --border-subtle: #D2D5DB;
  --border-moderate: #9CA3B0;
  --border-bold: #F9FAFB;
}

h1 {
  color: var(--h1);
}

h2 {
  color: var(--h2);
}

h3 {
  color: var(--h3);
}

h4 {
  color: var(--h4);
}

h5 {
  color: var(--h5);
}

h6 {
  color: var(--h6);
}

p {
  color: var(--text);
}

li {
  color: var(--text);
}

* {
  transition: background-color 0.3s, color 0.3s;
}

.master-wrapper {
  background-color: var(--bg_opposite);
}

.wrapper {
  background-color: var(--bg);
}

html {
  background-color: var(--bg);
  overflow-x: hidden;
}

.back-to-top {
  background-color: #0171E3;
  text-decoration: none;
  cursor: pointer;
  width: 56px;
  height: 56px;
  z-index: 999;
  position: fixed;
  right: 32px;
  bottom: 32px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 100%;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.4);
}
.back-to-top:hover {
  background-color: #2390fe;
}
.back-to-top:active {
  box-shadow: none;
  background-color: #d60074;
}
.back-to-top svg.icon__arrow-up {
  fill: white;
  width: 32px;
  height: 32px;
}

body {
  min-height: 100vh;
}
body .box {
  padding: 40px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .box-2 {
  background-color: #ddd;
}
body .box-3 {
  background-color: #ccc;
}
body .box-4 {
  background-color: #bbb;
}
body .box .title {
  margin: 0;
  text-align: center;
}

button {
  padding: 0.8rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.25em;
  font-size: 1rem;
  white-space: nowrap;
  border-radius: 2rem;
  color: white;
  background-color: var(--primary);
  border: none;
}
button:hover {
  background-color: var(--primary-dark);
}

@media screen and (min-width: 768px) {
  button {
    padding: 1rem 2rem;
  }
}
.head-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.head-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.bigbox2 {
  margin-top: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bigtext {
  font-size: 2.8rem;
  font-weight: 430;
  letter-spacing: -0.2rem;
  color: var(--h1);
  text-align: center;
}

.designing-for-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.duiconbigbox {
  width: 1.5rem;
  height: 1.5rem;
  aspect-ratio: 1/1;
}

#bio {
  text-align: center;
}

.subtext-under-bigtext2 {
  font-size: 1rem;
  font-weight: 320 !important;
  letter-spacing: 0rem !important;
  color: var(--text);
}

.openarrow {
  width: 1rem;
}

@media screen and (min-width: 640px) {
  .bigtext {
    font-size: 5rem;
    font-weight: 430;
    letter-spacing: -0.2 rem;
  }
  .subtext-under-bigtext2 {
    font-size: 1rem;
    max-width: 30rem !important;
    font-weight: 320 !important;
    letter-spacing: 0rem !important;
    color: var(--text);
  }
  .head-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .head-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  .duiconbigbox {
    width: 2rem;
    height: 2rem;
  }
  .openarrow {
    width: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .bigtext {
    font-size: 6rem;
    font-weight: 430;
    letter-spacing: -0.2 rem;
  }
  .subtext-under-bigtext2 {
    font-size: 1.2rem;
    max-width: 30rem !important;
    font-weight: 320 !important;
    letter-spacing: 0rem !important;
    color: var(--text);
  }
  .head-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .head-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  .designingfordiv {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .duiconbigbox {
    width: 2rem;
    height: 2rem;
  }
  .openarrow {
    width: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .bigtext {
    font-size: 6.5rem;
    font-weight: 430;
    letter-spacing: -0.2 rem;
  }
  .subtext-under-bigtext2 {
    font-size: 1.2rem;
    max-width: 45rem !important;
    font-weight: 320 !important;
    letter-spacing: 0rem !important;
    color: var(--text);
  }
  .head-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .head-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  .designingfordiv {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .duiconbigbox {
    width: 2rem;
    height: 2rem;
  }
  .openarrow {
    width: 1.5rem;
  }
}
/* Extra Large (xl) — 1280px and up */
@media screen and (min-width: 1280px) {
  .head-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }
  .head-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  .bigbox2 {
    margin-top: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .bigtext {
    font-size: 7.2rem;
    font-weight: 430;
    letter-spacing: -0.3rem;
    color: var(--h1);
    text-align: center;
  }
  .designingfordiv {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .duiconbigbox {
    width: 2.2rem;
    height: 2.2rem;
    aspect-ratio: 1/1;
  }
  #bio {
    text-align: center;
  }
  .subtext-under-bigtext2 {
    font-size: 1.5rem;
    max-width: 55rem !important;
    font-weight: 320 !important;
    letter-spacing: 0rem !important;
    color: var(--text);
  }
  .currenlydesigningtext {
    font-size: 1.5rem;
    font-weight: 320 !important;
    letter-spacing: 0rem !important;
    color: var(--text);
    max-width: 100% !important;
    text-wrap: nowrap !important;
  }
  .designing-for-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }
}
/* 2X Large (2xl) — 1536px and up */
@media screen and (min-width: 1536px) {
  /* .2xl\: styles go here */
}
.project-sections {
  background-color: #F5F5F7;
  border-radius: 0rem 0rem 4rem 4rem;
}

.grid-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}

.project {
  aspect-ratio: 1/1;
  grid-column: span 6/span 6;
  width: 100%;
}

.project-imgbox {
  width: 100%;
  height: auto;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grow-rotate {
  transition-duration: var(--transition);
  transition-property: transform;
}
.grow-rotate:hover {
  transform: scale(1.04) rotate(1deg);
}

.grow-rotate-opposite {
  transition-duration: 0.1s;
  transition-property: transform;
}
.grow-rotate-opposite:hover {
  transform: scale(1.04) rotate(-2deg);
  box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
}

.grow-rotate-reverse {
  transition-duration: 0.1s;
  transition-property: transform;
  transform: scale(1.04) rotate(2deg);
}
.grow-rotate-reverse:hover {
  transform: scale(1.3) rotate(0deg);
}

.grow-rotate-small {
  transition-duration: 0.1s;
  transition-property: transform;
  transform: scale(1) rotate(2deg);
}
.grow-rotate-small:hover {
  transform: scale(1) rotate(0deg);
}

.arr {
  max-width: 1.5rem;
  aspect-ratio: 1/1;
}

.infobox {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

@media screen and (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 40px;
  }
  .project-margintop {
    margin-top: 6rem;
  }
}
.animatedparagraph {
  font-family: "Inter Tight", sans-serif !important;
  font-size: 3rem !important;
  font-weight: 350 !important;
  line-height: 130% !important;
  letter-spacing: 0rem !important;
  color: #384151 !important;
  position: sticky;
  top: 25% !important;
  text-align: left;
  max-width: 90% !important;
}

#precision-section {
  height: 350vh;
}

.gradient_bg_reveal {
  background-color: #F5F5F7;
  background: linear-gradient(180deg, #F5F5F7 0%, #BEDBFF 20%, #C7D2FF 40%, #DED6FF 60%, #E9D5FF 80%, #FFF 100%);
  display: none;
}

@media screen and (min-width: 1024px) {
  .gradient_bg_reveal {
    display: block;
  }
}
.aboutme-section {
  overflow-x: hidden;
  display: none;
}

.mypic {
  max-width: 23rem;
  max-height: 100%;
  /* Set a maximum height */
  height: auto;
  /* Allow the image to resize proportionally */
  object-fit: contain;
}

.aboutme-whoisthisdude {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.aboutme-div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
}

.aboutme-text {
  max-width: 25rem;
}

.mystrengthtext {
  max-width: 50rem;
}

@media screen and (min-width: 1024px) {
  .aboutme-section {
    overflow-x: hidden;
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .aboutme-section {
    overflow-x: visible;
  }
}
.aboutme-section {
  max-width: 1400px;
  padding-top: 10rem;
  padding-bottom: 10rem;
  margin: auto;
}

.grid12px {
  padding-left: 2rem;
  padding-right: 2rem;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: 40px;
}

#aboutme-title {
  font-family: Kalam, sans-serif;
  font-size: 2rem;
}

.abtme-p {
  grid-column: 5/span 6;
}

.abtme-img1 {
  grid-column: 1/span 3;
  width: 90%;
  height: 25rem;
  border-radius: 12px;
  object-fit: cover;
}

.abtme-img2 {
  margin-top: 150px;
  grid-column: 1/span 2;
  width: 100%;
  height: 17rem;
  border-radius: 12px;
  object-fit: cover;
  transform: translateX(-3rem);
}

.abtme-img3 {
  grid-column: 5/span 4;
  width: 100%;
  height: 13rem;
  border-radius: 12px;
  object-fit: cover;
}

.abtme-img4 {
  grid-column: 10/span 3;
  width: 100%;
  height: 13rem;
  border-radius: 12px;
  object-fit: cover;
  margin-top: -150px;
  transform: translateX(4rem);
}

.below-title-spacing {
  margin-bottom: 1rem;
}

.title-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.imagegrid4-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

.grid-fullwidth1 {
  grid-row: 1/2;
  grid-column: 1/3;
  min-width: 100%;
}

.grid-halfwidth1 {
  /* This element will start at the 2nd row and 1st column and span 1 row and 1 column */
  grid-row: 2/3;
  grid-column: 1/2;
  min-width: 100%;
  /* Stretch the image to fit the width of the container */
  height: auto;
  /* Maintain aspect ratio */
}

.grid-halfwidth2 {
  grid-row: 2/3;
  grid-column: 2/3;
  min-width: 100%;
  /* Stretch the image to fit the width of the container */
  height: auto;
  /* Maintain aspect ratio */
}

.grid-fullwidth2 {
  grid-area: 3/1/4/3;
}

.img-fullwidth {
  max-width: 100%;
}

.twocol-para {
  columns: 2;
  gap: 1rem;
}

.project-details-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.role-section {
  display: flex;
  flex-direction: column;
  column-gap: 3rem;
}

.pieces-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

.project-content-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pieces-div-container {
  margin: auto;
  width: 100%;
  border: 0px solid red;
}

.aside-sub {
  margin-left: 0.5rem;
}

aside {
  min-width: 13rem;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 100vh;
  max-width: 12rem;
  position: sticky;
  top: 0;
  left: 0;
}

.backcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  min-width: 12rem;
  max-width: 12rem;
}

.title-back {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.tocc a {
  text-decoration: none;
  color: var(--text);
  padding-top: 1rem;
  line-height: 1 !important;
  font-size: 14.4px !important;
  font-weight: 350 !important;
  letter-spacing: 0.02em !important;
}

.tocc li {
  list-style-type: none;
  /* Remove bullet points */
  padding-top: 0.5rem;
  line-height: 1 !important;
  padding-left: 0rem !important;
}

.active {
  font-weight: 400 !important;
  color: var(--primary) !important;
}

.proj-title {
  width: 100%;
  text-align: center !important;
}

.header-back-container {
  display: flex;
  flex-direction: row;
}

.backarr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-title {
  max-width: 50%;
  margin-left: 8rem;
}

.quoteblocksfc {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.quote-icon {
  height: auto;
  width: 2rem;
}

.crumbs {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media screen and (max-width: 700px) {
  aside {
    display: none;
  }
  .product-title-container {
    max-width: 100%;
    margin: 0;
  }
  .product-title {
    font-size: 3rem;
    margin: 4rem 0rem !important;
  }
}
.contentbox-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.pieces-div-text {
  margin: auto;
  width: 700px;
  max-width: 100%;
}

.pieces-div-img {
  margin: auto;
  width: 1000px;
  max-width: 100%;
  padding: 5px;
}

.pieces-div-coverimg {
  margin: auto;
  max-width: 2440px !important;
  padding: 1rem;
}

.fitisnide {
  margin: auto;
  max-width: 100%;
}

.padding-img {
  padding-left: 2rem;
  padding-right: 2rem;
  margin: auto;
}

.product-title-container {
  height: 50vh;
  display: flex;
  align-items: center;
}

.du-ai-section {
  background-color: #060606;
  padding-top: 10rem;
  padding-bottom: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0rem 0rem 4rem 4rem;
}

.du-ai-img {
  max-width: 1500px;
  height: 100%;
  object-fit: cover;
}

.du-ai-img {
  width: 100%;
}

.white {
  color: white;
}

.subtext-dark {
  color: rgb(138, 138, 148);
}

.du-ai-contentbox-dark {
  padding: 0rem 1rem;
}

.Project-title {
  font-size: 2.5rem;
  max-width: 90%;
  text-align: left;
}

.TitleBox-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .Project-title {
    font-size: 3.5rem;
    max-width: 70%;
    text-align: center;
  }
  .TitleBox-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .Project-title {
    font-size: 4rem;
    max-width: 70%;
    text-align: center;
  }
  .TitleBox-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .Project-title {
    font-size: 4rem;
    max-width: 60%;
    text-align: center;
  }
  .TitleBox-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
.contentbox-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 0rem 1rem;
}

.pieces-div-text {
  margin: auto;
  width: 700px;
  max-width: 100%;
}

.pieces-div-img {
  margin: auto;
  width: 1000px;
  max-width: 100%;
  padding: 5px;
}

.pieces-div-coverimg {
  margin: auto;
  max-width: 2440px !important;
  padding: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.wrapper {
  transform-origin: center bottom 0px;
  transition: all 0.2s ease-in-out 0s;
  border-radius: 0rem 0rem 4rem 4rem !important;
}

.tight {
  transform: translateY(0px) scale(0.8);
  cursor: pointer;
  border-radius: 0rem 0rem 4rem 4rem !important;
}

.redborder {
  border: 1.5px solid red !important;
}

.links {
  text-decoration: underline;
}

.maxwidth-container, .header-container {
  max-width: 1100px;
  margin: auto;
  padding: 1.5rem;
}