

  
//Greys
$grey25: #FCFCFD;
$grey50: #F9FAFB;
$grey100: #F2F4F7;
$grey200: #EAECF0;
$grey300: #D0D5DD;
$grey400: #98A2B3;
$grey500: #667085;
$grey600: #475467;
$grey700: #344054;
$grey800: #1D2939;
$grey900: #101828;



//Dark Theme Text

$text: $grey100;
$subtext: #acacac;
$subsubtext: $grey300;

//On White Theme Text

$w-text: black;
$w-subtext: #8A8A8E;
$w-subsubtext: #C4C4C6;


//Border
$border-minimal: $grey200;
$border-subtle: $grey300;
$border-moderate: $grey400;
$border-bold: $grey50;



//Colors
$primary :#936BFF;
$primary-light :#FFFFFF;
$hover :#6BDCFF;
$active :#00ffe5;
$not-active :#5d5d5d;
$background:#000000;
$background-home:#000000;

$accent1 :#FFCA59;
$accent2 :#ff7d4a;


//color for texts and others

.primary{
    color: $primary;
}
.primarylight{
    color: $primary-light;
}

.subtext{
    color: $subtext;
}

.subsubtext{
    color: $subsubtext;
}

.white{
    color: rgb(255, 255, 255);
}

.notactive{
    color: $not-active;
}
