//BASE COLORS
$grey25: #FCFCFD;
$grey50: #F9FAFB;
$grey100: #F2F4F7;
$grey200: #EAECF0;
$grey300: #D0D5DD;
$grey400: #98A2B3;
$grey500: #667085;
$grey600: #475467;
$grey700: #344054;
$grey800: #1D2939;
$grey900: #101828;

$primary:purple;




:root {
    //LIGHT MODE COLORS - token not base

    --primary: #{$primary};
    --bg:#{$grey200};
    --bg_opposite:#{$grey900};

    --h1:#{$grey800};
    --h2:#{$grey700};
    --h3:#{$grey700};
    --h4:#{$grey700};
    --h5:#{$grey700};
    --h6:#{$grey700};

    --text_light:#{$grey500};
    --text:#{$grey600};
    --text_dark:#{$grey700};

    --border-subtle: #{$grey300};
    --border-moderate: #{$grey400};
    --border-bold: #{$grey50};

    --pscard_bg:#{$grey25};

    --links:blue;

}




[data-theme="dark"] {

    //DARK MODE COLORS - token not base

    --bg: black;
    --bg_opposite: white;

    --pscard_bg:#{$grey700};

    --h1:#{$grey100};
    --h2:#{$grey100};
    --h3:#{$grey100};
    --h4:#{$grey100};
    --h5:#{$grey100};
    --h6:#{$grey100};

    --text_light:#{$grey400};
    --text:#{$grey400};
    --text_dark:#{$grey400};

    --border-subtle: #{$grey300};
    --border-moderate: #{$grey400};
    --border-bold: #{$grey50};
    
}



h1 {
    color: var(--h1);
}

h2 {
    color: var(--h2);
}

h3 {
    color: var(--h3);
}

h4 {
    color: var(--h4);
}

h5 {
    color: var(--h5);
}

h6 {
    color: var(--h6);
}

p{
    color:var(--text);
}






* {
    transition: background-color 0.3s, color 0.3s; // Smooth transition
}

.master-wrapper {
    background-color: var(--bg_opposite);
}

.wrapper {
    background-color: var(--bg);
}




//  -----------------------------------------------------------------------------


html {
    background-color: var(--bg);
    overflow-x: hidden;
}