@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@import "./color";

//________________________________________________________________________________________________________________________

//________________________________________________________________________________________________________________________

$base: 16px;

$h1: $base * 4;
$h2: $base * 3;
$h3: $base * 2.438;
$h4: $base * 1.953;
$h5: $base * 1.438;
$h6: $base * 1.2;

$p-xs: $base * 0.75;
$p-sm: $base * 1;
$p-md: $base * 1.125;
$p-lg: $base * 1.438;
$p-xl: $base * 1.7; //sub text on the home page
$p-overline-sm: $base * 0.875;
$p-overline-md: $base * 1;

$button-font-size: $base * 0.9;

//Weight

$h1-weight: 500;
$h2-weight: 500;
$h3-weight: 500;
$h4-weight: 400;
$h5-weight: 300;
$h6-weight: 300;

$p-xs-weight: 400;
$p-sm-weight: 400;
$p-md-weight: 400;
$p-lg-weight: 300;
$p-xl-weight: 400;
$p-title-weight: 600;

$p-overline-sm-weight: 400;
$p-overline-md-weight: 400;

$button-font-weight: 600;

//Letterspacing
$h1-letterspacing: -0rem;
$h2-letterspacing: -0rem;
$h3-letterspacing: -0rem;
$h4-letterspacing: -0rem;
$h5-letterspacing: -0rem;
$h6-letterspacing: -0rem;

$p-xs-letterspacing: -0rem;
$p-sm-letterspacing: -0rem;
$p-md-letterspacing: 0rem;
$p-lg-letterspacing: -0rem;
$p-xl-letterspacing: -0rem;
$p-overline-sm-letterspacing: -0rem;
$p-overline-md-letterspacing: -0rem;

$button-font-letterspacing: 2px;

//Line height
$h1-lineheight: 100%;
$h2-lineheight: 120%;
$h3-lineheight: 120%;
$h4-lineheight: 120%;
$h5-lineheight: 130%;
$h6-lineheight: 130%;

$p-xs-lineheight: 160%;
$p-sm-lineheight: 160%;
$p-md-lineheight: 170%;
$p-lg-lineheight: 160%;
$p-xl-lineheight: 150%;
$p-overline-sm-lineheight: 130%;
$p-overline-md-lineheight: 130%;

//________________________________________________________________________________________________________________________

html {
  font-size: $base;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
p {
  font-family: "Inter Tight", sans-serif;
  color: wheat;
}

p {
}

.project_title {
  color: rgb(255, 255, 255);
}

//p{

//  font-family: 'montreal',sans-serif;
//color: white;

//}

h1 {
  font-size: $h1;
  letter-spacing: $h1-letterspacing;
  line-height: $h1-lineheight;
}

h2 {
  font-size: $h2;
  font-weight: 500;
  letter-spacing: $h2-letterspacing;
  line-height: $h2-lineheight;
}

h3 {
  font-size: $h3;
  font-weight: 500;
  letter-spacing: $h3-letterspacing;
  line-height: $h3-lineheight;
}

h4 {
  font-size: $h4;
  font-weight: 500;
  letter-spacing: $h4-letterspacing;
  line-height: $h4-lineheight;
}

h5 {
  font-size: $h5;

  letter-spacing: $h5-letterspacing;
  line-height: $h5-lineheight;
}

h6 {
  font-size: $h6;

  letter-spacing: $h6-letterspacing;
  line-height: $h6-lineheight;
}

p.xs {
  font-size: $p-xs;
  letter-spacing: $p-xs-letterspacing;
  line-height: $p-xs-lineheight;
}

p.sm {
  font-size: $p-sm;
  letter-spacing: $p-sm-letterspacing;
  line-height: $p-sm-lineheight;
}

p.md {
  font-size: $p-md;
  font-weight: 300;
  letter-spacing: $p-md-letterspacing;
  line-height: $p-md-lineheight;
}

p.lg {
  font-size: $p-lg;
  font-weight: 300;
  letter-spacing: $p-lg-letterspacing;
  line-height: $p-lg-lineheight;
 
}

p.xl {
  font-size: $p-lg;
  font-weight: $p-lg-weight;
  letter-spacing: $p-lg-letterspacing;
  line-height: $p-lg-lineheight;
}

li.md {
  margin-left: 1.5rem;
  font-size: $p-md;
  font-weight: 300;
  letter-spacing: $p-md-letterspacing;
  line-height: $p-md-lineheight;
}

.subtext-under-bigtext {
  color: #e9e9e9 !important;
  max-width: 70%;
  font-size: 1.8rem;
  line-height: 160% !important;
  font-weight: $p-lg-weight;
  line-height: $h4-lineheight;
}

p.xs-title {
  @extend .xs;
  font-weight: $p-title-weight;
}

p.sm-title {
  @extend .sm;
  font-weight: $p-title-weight;
}

p.md-title {
  @extend .md;
  font-weight: $p-title-weight;
}

p.lg-title {
  @extend .lg;
  font-weight: $p-title-weight;
}

p.overline-sm {
  font-size: $p-overline-sm;
  font-weight: $p-overline-sm-weight;
  letter-spacing: $p-overline-sm-letterspacing;
  line-height: $p-overline-sm-lineheight;
}

p.overline-md {
  font-size: $p-overline-md;
  font-weight: $p-overline-md-weight;
  letter-spacing: $p-overline-md-letterspacing;
  line-height: $p-overline-md-lineheight;
}

.junaid {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 7.6rem;
  color: $primary;
  position: relative;
  overflow: hidden;
  letter-spacing: -0.3rem;
}

//Weight

.w100 {
  font-weight: 100 !important;
}

.w200 {
  font-weight: 200 !important;
}

.w300 {
  font-weight: 300 !important;
}

.w400 {
  font-weight: 400 !important;
}

.w500 {
  font-weight: 500 !important;
}

.w600 {
  font-weight: 600 !important;
}

.w700 {
  font-weight: 700 !important;
}

.w800 {
  font-weight: 800 !important;
}

.w900 {
  font-weight: 900 !important;
}

.alttext {
  padding-top: 0.25rem;
  font-size: $p-xs;
  font-style: italic;
  color: grey;
}

.wheat {
  color: wheat;
}

.grey {
  color: grey;
}

.overline-heading {
    color: grey;
  font-size: $p-xs;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  
}

.max800{
  max-width: 800px;
  margin: auto;
}

.junaidheadersize{
  font-size: 1.313rem;
}

.chipstext{
  @extend .w300, .xl;
}
