@import "../scss/base/color";

$back-to-top__button-color: deeppink;
$back-to-top__icon-color: white;

.back-to-top {
  background-color: $primary;
  text-decoration: none;
  cursor: pointer;
  width: 56px;
  height: 56px;
  z-index: 999;
  position: fixed;
  right: 32px;
  bottom: 32px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 100%;
  box-shadow: 0 4px 16px 0 rgba(black,0.4);
  
  &:hover {
    background-color: lighten($primary, 12%);
  }
  
  &:active {
    box-shadow: none;
    background-color: darken($back-to-top__button-color, 12%);
  }
  
  svg.icon__arrow-up {
    // Put these properties inline in the SVG
    // if you won't change these all the time
    fill: $back-to-top__icon-color;
    width: 32px;
    height: 32px;
  }
}

// Generic

body {
  background-color: #eee;
  min-height: 100vh;
  
  .box {
    padding: 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &-2 {
      background-color: #ddd;
    }
    
    &-3 {
      background-color: #ccc;
    }
    
    &-4 {
      background-color: #bbb;
    }
    
    .title {
      margin: 0;
      text-align: center;
    }
  }
}