

.button-div {
    display: flex;
    flex-direction: row;
    gap: $spacing-lg;
  }
  
.aboutmebtn {
  
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
    padding: 10px 23px 10px 23px;
    font-size: 1em;
    position: relative;
    border-radius: 8px;
    border: 1.5px solid grey;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    text-transform: none;
    letter-spacing: 0px;
  
  
    &:hover {
      border: 1.5px solid $primary;
      background: $primary;
      /* Background color */
  
      filter: drop-shadow(0px 0px 60px $primary);
  
      box-shadow: 0 0 50px 10px $primary;
      ;
      -webkit-transition: all 0.2s ease-out;
      color: black;
      -moz-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
    }
  
    &:hover::before {
      -webkit-animation: sh02 0.5s 0s linear;
      -moz-animation: sh02 0.5s 0s linear;
      animation: sh02 0.5s 0s linear;
    }
  
    &::before {
      content: '';
      display: block;
      width: 0px;
      height: 86%;
      position: absolute;
      top: 7%;
      left: 0%;
      opacity: 0;
      background: #fff;
      box-shadow: 0 0 50px 30px #fff;
      -webkit-transform: skewX(-20deg);
      -moz-transform: skewX(-20deg);
      -ms-transform: skewX(-20deg);
      -o-transform: skewX(-20deg);
      transform: skewX(-20deg);
    }
  
    @keyframes sh02 {
      from {
        opacity: 0;
        left: 0%;
      }
  
      50% {
        opacity: 1;
      }
  
      to {
        opacity: 0;
        left: 100%;
      }
    }
  
    &:active {
      box-shadow: 0 0 0 0 transparent;
      -webkit-transition: box-shadow 0.2s ease-in;
      -moz-transition: box-shadow 0.2s ease-in;
      transition: box-shadow 0.2s ease-in;
    }
  
  }