
.glare{

    position:relative;
    font-size:5rem;

    display:grid;
    place-items:center;
  }
  
  .glare::before{
    content:"";
    position:absolute;
    inset:0;
    background:linear-gradient(-45deg, hsla(0, 0%, 0%, 0) 60%, hsla(0, 0%, 100%, 0.5) 70%, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0) 100% );
    transition:1000ms ease;
    background-size: 250% 250%, 100% 100%;
    background-repeat:no-repeat;
    background-position: -500px -500px, 0 0;
  }
  
  .glare:hover{
    cursor:pointer;
  }
  
  .glare:hover::before{
    background-position: 280px 280px, 0 0;
  }