@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');


.hiringmanager-section{

}

.hiringmanager{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.skills-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}     

.new-skills-section{
    @extend .skills-section;
}


.stickynote {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 3px;
    max-width: 400px;
    margin: auto;
    box-shadow: 
    0 2.8px 2.2px rgba(0, 0, 0, 0.03),
    0 6.7px 5.3px rgba(0, 0, 0, 0.05),
    0 12.5px 10px rgba(0, 0, 0, 0.07),
    0 22.3px 17.9px rgba(0, 0, 0, 0.09),
    0 41.8px 33.4px rgba(0, 0, 0, 0.11),
    0 100px 80px rgba(0, 0, 0, 0.15);


    p.lg {
        color: #2c2c2c;
        font-family: 'Kalam', serif;
        font-weight: 700;

    }


    p.md {
        color: #2c2c2c;
        font-family: 'Kalam', serif;
        font-weight: 400;
        line-height: 150%;
        font-size: 1.2em;

    }
}

.yellowSticky {
    background: linear-gradient(145deg, #ffeb3b, #fdd835); /* Darker gradient background */

}

.redSticky {
    background-color: #F16C7F;
    margin-top: 3rem;
}

.blueSticky {
    background-color: #6CD9FA;
}

.rotateright {
    transform: rotate(3deg);
}

.rotateleft {
    transform: rotate(-3deg);
}

.stickyContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

@media (max-width: 767px) {

    .stickyContainer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }


    .skills-section {
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 4rem;
    }


    .stickynote {
        aspect-ratio: 1/1;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        border-radius: 3px;
        width: 350px;

        margin: auto;



        p.lg {
            color: #2c2c2c;
            font-family: 'Kalam', sans-serif;
            font-weight: 700;

        }


        p.md {
            color: #2c2c2c;
            font-family: 'Kalam', sans-serif;
            font-weight: 400;
            line-height: 180%;
            font-size: 1.2em;

        }
    }

    .yellowSticky {
        background-color: #ffc000;

    }

    .redSticky {
        background-color: #F16C7F;
        margin-top: 3rem;
    }

    .blueSticky {
        background-color: #6CD9FA;
    }

    .rotateright {
        transform: rotate(3deg);
    }

    .rotateleft {
        transform: rotate(-3deg);
    }
    

}