//----------base-----------------------------------------------------

@import "../scss/base/color";
@import "../scss/base/typescale";
@import "../scss/base/spacing";


//----------UI Components-------------------------------------------

@import "../Components/UI/Footer/Footer.scss";
@import "../Components/UI/Header/header.scss";
@import "../Components/UI/Back-to-top/backtop.scss";
@import "../Components//UI/Button/ButtonPrimary/ButtonPrimary.scss";





//----------Pages ------------------------------------------------

@import "../Components/Pages/Home/home-scss//home.scss";
@import "../Components/Pages/Aboutme/aboutme.scss";
@import "../Components/Pages/CaseStudy/casestudy-styling/casestudy.scss";
// @import "../Components/Pages/CaseStudy/";

@import "../Components/Pages/Du/du-ai/duai.scss";




//----------Animations------------------------------------------

@import "../Animations/reval-animation.scss";




//--------------------------------------------------------------

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

}



a {
  text-decoration: none;
}



.wrapper {

  transform-origin: center bottom 0px;
  transition: all 0.2s ease-in-out 0s;
  border-radius: 0rem 0rem 4rem 4rem;
 

}

body.tight.wrapper {

  transform: translateY(0px) scale(0.8);
  cursor: pointer;

}

.tight {

  transform: translateY(0px) scale(0.8);
  cursor: pointer;

}


.redborder {
  border: 1.5px solid red !important;
}



//--------SHARED------------------------------------------------------

.links {

  text-decoration: underline;



}









@import "../scss/media/mediaquery.scss";
// @import "./media/footermedia.scss"