#precision-section {
  height: 700vh;
  
 
}

.gradient_bg_reveal{
  background-color: #ffffff;

  background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 2.56%), radial-gradient(464.1% 111.48% at 52.05% -11.48%, #FFF 0.86%, #FFF 0.87%, #ECD4D1 28.11%, #8DB4FF 48.41%, #8C73FA 59.1%, #260858 81%, #000 100%);

}

