#precision-section {
  height: 250vh;
  
 
}

.gradient_bg_reveal{
  background-color: #ffffff;
  background: linear-gradient(180deg, #FFF 0%, #CDC3F5 23.5%, #BEB3EC 39%, #D3C0F0 56.5%, #E8CDF5 74%, #EFDBF8 83.5%, #FFF 100%);

}

