#precision-section {
  height: 350vh;


}

.gradient_bg_reveal {
  background-color: #ffffff;
  background: linear-gradient(180deg, #FFF 0%, #BEDBFF 20%, #C7D2FF 40%, #DED6FF 60%, #E9D5FF 80%, #FFF 100%);
}