.du-ai-section {
    background-color: #060606;
    padding-top: 10rem;
    padding-bottom: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0rem 0rem 4rem 4rem;

}

.du-ai-img {
    max-width: 1500px;
    height: 100%;
    object-fit: cover;
    // border: 1px solid red;



}